<div class="container">
  <div class="welcome">
    <h2>Trip Details</h2>
    <div class="trip-details">
      <p>
        <i class="pi pi-map-marker" style="font-size: 0.8rem"></i>
        &nbsp;&nbsp;&nbsp;<span>NH-507, Dehradun, Uttrakhand</span>
      </p>
      <p>
        <i class="pi pi-star" style="font-size: 0.8rem"></i>
        &nbsp;&nbsp;&nbsp;<span>Kumbarpet, Banglore, Karnataka</span>
      </p>
      <p>
        <i class="pi pi-clock" style="font-size: 0.8rem"></i>
        &nbsp;&nbsp;&nbsp;<span>Wednesday, 12/10/2023</span>
      </p>
      <p>
        <i class="pi pi-ticket" style="font-size: 0.8rem"></i>
        &nbsp;&nbsp;&nbsp;<span>Running</span>
      </p>
    </div>
  </div>
  <div class="consignments">
    <h2>Consignments</h2>
    <app-consignments></app-consignments>
  </div>
  <div class="advance-details">
    <h2>Advance Details</h2>
    <app-advance-details></app-advance-details>
  </div>
</div>
