<div class="consignment-card" [ngClass]="!expanded ? 'row-gap-0' : ''">
  <div class="head" (click)="expandCollapseCards()">
    <h2>Consignments</h2>
    <button
      class="expand-collapse pi"
      [ngClass]="!expanded ? 'pi-chevron-down' : ' pi-chevron-up'"
    ></button>
  </div>
  <div
    class="card"
    [@expandCollapse]="expanded ? 'expand' : 'collapse'"
    [ngClass]="a == 4 ? 'delivered' : ''"
    *ngFor="let a of arr"
    (click)="showDialog()"
  >
    <table>
      <tr>
        <td>
          <p>Consignee</p>
        </td>
        <td>
          <p>: &nbsp; Gng Textiles Pvt. Ltd.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>From</p>
        </td>
        <td>
          <p>: &nbsp; Ram Nagar, Rudrapur, Uttrakhand.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>To</p>
        </td>
        <td>
          <p>: &nbsp; Kumbarpet, Banglore, Karnataka.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>EDD</p>
        </td>
        <td>
          <p>: &nbsp; Evening, Wednesday, 12/10/2023.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>GR/LR/Bilty</p>
        </td>
        <td>
          <p>: &nbsp; GR5247:534</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Status</p>
        </td>
        <td>
          <p>: &nbsp; {{ a == 4 ? "Delivered" : "Running" }}</p>
        </td>
      </tr>
    </table>
    <div class="status-icon">
      <div
        class="pi"
        [ngClass]="a == 4 ? 'pi-thumbs-up-fill' : 'pi-stopwatch'"
      ></div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '90vw' }"
  [draggable]="false"
  [resizable]="false"
  [position]="'bottom'"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Update Consignment Status</span>
  </ng-template>
  <div class="timeline">
    <div class="start">
      <button
        class="start-btn"
        [ngClass]="track.start ? 'complete' : ''"
        [disabled]="track.start"
        (click)="changeStatus('start')"
      >
        Start
      </button>
    </div>
    <div class="dealer-point">
      <button
        class="start-btn"
        [ngClass]="track.dealerPoint ? 'complete' : ''"
        [disabled]="!track.start"
        (click)="changeStatus('dealerPoint')"
      >
        Dealer Point
      </button>
    </div>
    <div class="delivered">
      <button
        class="start-btn"
        [ngClass]="track.delilvered ? 'complete' : ''"
        [disabled]="!track.dealerPoint"
        (click)="changeStatus('delilvered')"
      >
        Delivered
      </button>
    </div>
  </div>
  <div *ngIf="track.delilvered" class="pod">
    <label for="pod">Please upload POD to complete the consignment.</label>
    <input
      type="file"
      name="pod"
      id="pod"
      (change)="setFileName($event)"
      [(ngModel)]="podFile"
      hidden
      #pod
    />
    <button (click)="toggleInputPod()">{{ podFileName }}</button>
  </div>
  <ng-template pTemplate="footer">
    <button class="footer-button" (click)="hideDialog()">Save</button>
  </ng-template>
</p-dialog>
