<div class="consignment-card" [ngClass]="!expanded ? 'row-gap-0' : ''">
  <div class="head" (click)="expandCollapseCards()">
    <h2>Consignments</h2>
    <button
      class="expand-collapse pi"
      [ngClass]="!expanded ? 'pi-chevron-down' : ' pi-chevron-up'"
    ></button>
  </div>
  <div
    class="card"
    [@expandCollapse]="expanded ? 'expand' : 'collapse'"
    *ngFor="let a of arr"
    [ngClass]="a == 4 ? 'delivered' : ''"
  >
    <table>
      <tr>
        <td>
          <p>Consignee</p>
        </td>
        <td><p>: &nbsp; Gng Textiles Pvt. Ltd.</p></td>
      </tr>
      <tr>
        <td>
          <p>From</p>
        </td>
        <td>
          <p>: &nbsp; Ram Nagar, Rudrapur, Uttrakhand.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>To</p>
        </td>
        <td>
          <p>: &nbsp; Kumbarpet, Banglore, Karnataka.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>EDD</p>
        </td>
        <td>
          <p>: &nbsp; Evening, Wednesday, 12/10/2023.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>GR/LR/Bilty</p>
        </td>
        <td>
          <p>: &nbsp; GR5247:534</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Status</p>
        </td>
        <td>
          <p>: &nbsp; {{ a == 4 ? "Delivered" : "Running" }}</p>
        </td>
      </tr>
    </table>
    <div class="status-icon">
      <div
        class="pi"
        [ngClass]="a == 4 ? 'pi-thumbs-up-fill' : 'pi-stopwatch'"
      ></div>
    </div>
  </div>
</div>
