@import "../../../../universal-styles.scss";

.consignment-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    button {
      height: 30px;
      border: none;
      transition: 0.5s;
      background-color: transparent;
      color: $background-dark;
    }
  }
  .card {
    background-color: $background-dark;
    border-radius: 5px;
    position: relative;
    padding: 15px 20px;
    min-width: 300px;
    transition: 0.3s;
    overflow: hidden;
    transform-origin: left;
    flex-grow: 1;
    p {
      margin: 5px 0;
      font-size: 1.3vh;
      color: $background-light;
    }
    .status-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $background-light;
    }
  }
  .card.delivered {
    background-color: $background-disabled;
  }
}

.row-gap-0 {
  row-gap: 0;
}

.timeline {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  > div {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    button {
      padding: 5px 10px;
      border: none;
      border-radius: 10px;
      width: 120px;
      height: 40px;
      font-size: 13px;
      transition: 1s;
      cursor: pointer;
      position: relative;
      background-color: $background-light;
      color: $background-dark;
      z-index: 10;
    }
    > button::before {
      content: "";
      position: absolute;
      height: 2px;
      transform: rotate(90deg);
      width: 100px;
      background-color: $background-light;
      right: 10px;
      top: 78px;
      z-index: -1;
    }
    > button:disabled {
      color: $background-light;
    }
    > button.complete {
      background-color: $background-dark;
      color: $background-light;
    }
    > button.complete::before {
      content: "";
      background-color: $background-dark;
      transition: background-color 2s;
    }
  }
  > div:nth-child(3) {
    > button::before {
      content: "";
      width: 0px;
    }
  }
}
div.pod {
  display: flex;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  label {
    font-size: 12px;
  }
  button {
    width: fit-content;
    word-wrap: break-word;
    border: none;
    background-color: $background-dark;
    color: $background-light;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
  }
}
.pod-image {
  height: 150px;
  padding: 0px 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    height: 100%;
    width: auto;
  }
  button {
    position: absolute;
    border: none;
    background-color: rgb(192, 192, 192);
    color: #00473d;
    padding: 5px;
    right: 40px;
    top: 0px;
    border-radius: 3px;
  }
}
.select {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  div {
    max-width: 30vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    img {
      height: 50px;
      width: auto;
    }
  }
}
