@import "../../../../styles.scss";

.consignment-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    button {
      height: 30px;
      border: none;
      transition: 0.5s;
      background-color: transparent;
      color: $background-dark;
    }
  }
  .card {
    background-color: $background-dark;
    border-radius: 5px;
    position: relative;
    padding: 15px 20px;
    min-width: 350px;
    transition: 0.3s;
    overflow: hidden;
    transform-origin: bottom right;
    flex-grow: 1;
    p {
      margin: 5px 0;
      font-size: 1.3vh;
      color: $background-light;
    }
    .status-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $background-light;
    }
  }
  .card.delivered {
    background-color: $background-disabled;
  }
}

.row-gap-0 {
  row-gap: 0;
}
