@import "../../../../universal-styles.scss";

.details-card {
  height: fit-content;
  .card {
    background-color: $background-dark;
    min-height: fit-content;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
    border-radius: 5px;
    table {
      width: 100%;
      th {
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-align: start;
      }
      p {
        font-size: 13px;
        color: $background-light;
        margin: 5px 0;
      }
    }
    button {
      @each $property, $value in $primaryButtonStyles {
        #{$property}: $value;
      }
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    button:hover {
      @each $property, $value in $primaryButtonHoverStyles {
        #{$property}: $value;
      }
    }
  }
}
.request {
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  .diesel,
  .amount {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-size: 13px;
    }
    input {
      width: 80%;
      margin: 40px auto;
      font-size: 13px;
      border: 1px solid #c1c1c1;
      border-radius: 5px;
      padding: 5px 10px !important;
      height: 30px;
    }
    input::placeholder {
      padding: 5px 10px !important;
    }
  }
  .amount {
    border-right: 1px solid #e7e7e7;
  }
}
