<div class="details-card">
  <div class="card">
    <table>
      <tr>
        <td>
          <p>Broad Forward</p>
        </td>
        <td><p>&nbsp; : &nbsp;</p></td>
      </tr>
      <tr>
        <td>
          <p>Budget</p>
        </td>
        <td><p>&nbsp; : &nbsp; 23k</p></td>
      </tr>
      <tr>
        <td>
          <p>Taken</p>
        </td>
        <td><p>&nbsp; : &nbsp; 12.6k</p></td>
      </tr>
      <tr>
        <td>
          <p>Balance</p>
        </td>
        <td><p>&nbsp; : &nbsp; 10.4k</p></td>
      </tr>
    </table>
  </div>
</div>
