<div class="details-card">
  <div class="card">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Diesel</th>
          <th>Cash</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>Brought Forward &nbsp;</p>
          </td>
          <td><p></p></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Budget</p>
          </td>
          <td><p>23k</p></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Taken</p>
          </td>
          <td><p>12.6k</p></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Balance</p>
          </td>
          <td><p>10.4k</p></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button (click)="showDialog()">Request</button>
  </div>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '400px' }"
  [draggable]="false"
  [resizable]="false"
  [position]="'bottom'"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Request</span>
  </ng-template>
  <div class="request">
    <div class="amount">
      <div class="logo">
        <img src="assets/advance-details/cash.svg" alt="" />
      </div>
      <p>Available : &#8377; 7.3k</p>
      <input type="text" name="cash" id="cash" placeholder="Amount" />
    </div>
    <div class="diesel">
      <div class="logo">
        <img src="assets/advance-details/petrol-pump-icon.svg" alt="" />
      </div>
      <p>Available : 251L</p>
      <input type="text" name="fuel" id="fuel" placeholder="Fuel" />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="footer-button" (click)="hideDialog()">Request</button>
  </ng-template>
</p-dialog>
