@import "../../../../styles.scss";

.details-card {
  height: fit-content;
  .card {
    background-color: $background-dark;
    min-height: fit-content;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
    border-radius: 5px;
    table {
      width: 100%;
      th {
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-align: start;
      }
      p {
        font-size: 13px;
        color: $background-light;
        margin: 5px 0;
      }
    }
    button {
      @each $property, $value in $primaryButtonStyles {
        #{$property}: $value;
      }
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    button:hover {
      @each $property, $value in $primaryButtonHoverStyles {
        #{$property}: $value;
      }
    }
  }
}
