<div class="details-card">
  <div class="card">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Diesel</th>
          <th>Cash</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>Brought Forward &nbsp;</p>
          </td>
          <td><p></p></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Budget</p>
          </td>
          <td><p>23k</p></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Taken</p>
          </td>
          <td><p>12.6k</p></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Balance</p>
          </td>
          <td><p>10.4k</p></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button>Request</button>
  </div>
</div>
